:root{
    --pink:rgb(231, 70, 97);
}
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    scroll-behavior: smooth;
}
html{
    font-size: 62%;
    scroll-behavior: smooth !important;
    scroll-padding-top: 6rem ;
    /* overflow: hidden; */
}
section{
    padding: 2rem 9%;


}
.heading{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(238, 112, 175, 0.5);
}
.heading span{
    color: var(--pink);

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color :white;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: var(--pink);
}


header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);


}
header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;


}
header .logo span{
    color: var(--pink);
}
header .navbar a{
font-size: 2rem;
padding: 0 1.5rem;
color: black;

}
header .navbar a:hover{
    color: var(--pink);
}
header .icons a{
    font-size: 2.3rem;
    color: black;
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: var(--pink);

}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(8, 8, 8, 0.473);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(rosee.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    position: relative;
 
    
}
.home .content{
    max-width: 50rem;

}
.home .content h3{
    font-size: 6rem;
    color: rgb(245, 238, 238);
}
.home .content span{
    font-size: 3.3rem;
    color: rgb(5, 5, 5);
    padding: 1rem 0;
    line-height: 1.5;

}

.home .content p{
    font-size: 1.5rem;
    color: #242323;
    padding: 1rem 0;
    line-height: 1.5;

}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video_container{
    flex: 1 1 40rem;
    position: relative;

}
.about .row .video_container video{
    width: 100%;
    border: 1.5 rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}
.about .row .video_container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: white;
    color: black;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
.about .row .content{
    flex: 1 1 40rem;

}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #7e7777;
    padding: .5rem 0;
    line-height: 1.5;

}
.icons_container{
    background-color: rgba(211, 211, 211, 0.404);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem; 
    padding: 2rem;
    margin-bottom: 1.6rem;
}
.icons_container .icons{
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 1.6rem;
    margin: 10px;
    box-shadow: 0px 0px 1px black;
    flex: 1 1 20rem;

}
.icons_container .icons img{
    width: 60px;
    height: 60px;
}
.icons_container .icons .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.icons_container .icons .info h4{
    font-size: 1.5rem;
   
}

.icons_container .icons .info p{
    font-size: 1.2rem;
   
}

.product_container .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product_container .box_container .box{
    flex: 1 1 30rem;
    box-shadow: 0px 0px 3px black;
    border-radius: .5rem;
    position: relative;
}
.product_container .box_container .box .discount{
    position: relative;
    top: 1rem;
    left:1rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: .7rem 1rem;
    color: var(--pink);
    z-index: 1;
    background-color: rgba(255, 51, 153, 0.26);
    border-radius: .5rem;
}
.product_container .box_container .box .image{
    position: relative;
    text-align: center;
    padding: 2rem;
    overflow: hidden;

}
    
.product_container .box_container .box .image img{
    height: 25rem;
}

.product_container .box_container .box:hover .image img{
    transform: scale(1.1);
}
.product_container .box_container .box .image .icons{
    position: absolute;
    bottom: -7rem;right: 0; left: 0;
    display: flex;

}
.product_container .box_container .box:hover .image .icons{
    bottom: 0;
}

.product_container .box_container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background-color: var(--pink);
    color: white;


}
.product_container .box_container .box .image .icons .cart-btn{
    border-left: .1rem solid grey;
    border-right: .1rem solid grey;
    width: 100%;
}
.product_container .box_container .box .image .icons a:hover{
    background-color: rgba(0, 0, 0, 0.836);
}
.product_container .box_container .box .content{
    padding: 2rem;
    text-align: center;

}

.product_container .box_container .box .content h1{
    font-size: 2.5rem;
    color: black;
}
.product_container .box_container .box .content .price{
    font-size: 2.2rem;
    color: var(--pink);
    font-weight: bold;
    padding-top: 1rem;

}
.product_container .box_container .box .content .price span{
    font-size: 1.2rem;
    color: rgb(82, 76, 76);
    font-weight: lighter;
    text-decoration: line-through;
    
}
.review .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}



.review .box_container .box{
    flex: 1 1 30rem;
    display: flex;
    gap: 12px;
    flex-direction: column;
    border-radius: .5rem;
    padding: 3rem;
    position: relative;
}
.review .box_container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #81747471;
}
.review .box_container .box .starts i{
    color: var(--pink);
    font-size: 2rem;

}
.review .box_container .box .starts p{
    color: grey;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.review .box_container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box_container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
}
.review .box_container .box .user .info h3{
    font-size: 1.7rem;
    color: black;
    padding-bottom: 3px;
    
}
.review .box_container .box .user .info span{
    font-size: 1rem;
}
.review .box_container .box  p{
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1;
}
.review .box_container .box{
    box-shadow: 0px 0px 1px black;
}

.contact .row{
    display: flex;
    flex-wrap:wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.7rem black;
    border: .1rem solid rgba(0, 0, 0, 0.507);
    background-color: #fff;
    border-radius: 2px ;
}

.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    border: .1rem solid black;
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--pink);

}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
footer .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
footer .box_container .box{
    flex: 1 1 25rem;
    box-shadow: opx opx 2px black;
    text-align: center;
    padding: 3rem;
}
footer .box_container .box img{
    height: 70px;
    width: 100px;
    margin-top: 15px;
}

footer .box_container .box h3{
    font-size: 2.5rem;
    color:black;
    padding: 1rem 0;
}
footer .box_container .box a{
    display: block;
    color: black;
    font-size: 1.4rem ;
    margin-top: 15px;
    font-weight: 500;


}
footer .box_container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}

footer .credit{
    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;

}
footer .credit::selection{
    color: red;
}
footer .credit span{
    color: var(--pink);
    font-size: large;
}
footer .box_container .box a:hover{
    font-weight: bold;

}




@media (max-width:991px){
    html{
        font-size: 55%;

    }
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }

}
@media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position:absolute;
        top: 100%; left: 0; right: 0;
        background-color:whitesmoke;
        border-bottom: 1px solid black;
        /* justify-content: center;
        display: flex; */
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
        }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
        header .navbar a{
            margin: 1.5rem;
            padding: 1.5rem;
            background-color:whitesmoke;
            border: 1px solid black;
            display: block;
        }

        .home .content h3{
            font-size: 5rem;
        }
        .home .content span{
            font-size: 2.5rem;
        }

        .icons_container .icons .info h4{
            font-size: 2rem;
           
        }
        
        .icons_container .icons .info p{
            font-size: 1.7rem;
           
        }

}

@media (max-width:450px){
    html{
        font-size: 50%;

    }
    header{
        padding: 2rem;
    }
    .heading{
        font-size: 3rem;
    }
}